[submodule "Carthage/Checkouts/Nimble"]
	url = https://github.com/Quick/Nimble.git
[submodule "Carthage/Checkouts/Quick"]
	path = Carthage/Checkouts/Quick
	url = https://github.com/Quick/Quick.git
[submodule "Carthage/Checkouts/XCGLogger"]
	path = Carthage/Checkouts/XCGLogger
	url = https://github.com/DaveWoodCom/XCGLogger.git
